* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
.main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 0 90px;
  padding-top: 150px;
  gap: 70px;
}
.left {
  width: 45%;
  padding-bottom: 50px;
  height: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.left h1 {
  font-size: 8.7vw;
  font-weight: 500;
  padding-bottom: 10%;
  line-height: 8.1vw;
  /* font-size: 145px;
  font-weight: 500;
  line-height: 140px; */
}

.bottom-left {
  width: 100%;
  /* background-color: yellow; */
}
.colors {
  border: 1px solid black;
  border-radius: 50px;
  width: fit-content;
  align-items: center;
  display: flex;
  padding: 8px 15px;
  justify-content: center;
}
.colors h5 {
  font-size: 20px;
  margin-right: 10px;
  font-weight: 500;
}
.color1 {
  height: 20px;
  width: 20px;
  margin: 3px;
  border-radius: 50%;
  background-color: rgb(248, 194, 124);
}
.color2 {
  height: 20px;
  width: 20px;
  margin: 3px;
  border-radius: 50%;
  background-color: brown;
}
.left h2 {
  margin-top: 50px;
  font-size: 2vw;
  margin-bottom: 15px;
}
.left p {
  font-size: 1.4vw;
  width: 60%;
  font-weight: 600;
  line-height: 30px;
  line-height: 1.67vw;
  color: #333;
}
.right {
  width: 34%;
  position: relative;
  height: 90%;
  /* background-color: blue; */
}
.right-top {
  display: flex;
  height: 80px;
  padding: 20px;
  width: 100%;

  align-items: center;
  justify-content: space-between;
}
.right-top h4 {
  font-size: 30px;
  font-weight: 600;
}
.right-top h5 {
  font-size: 20px;
  font-weight: 600;
}
.right-top h5 i {
  color: gold;
}
.right img {
  object-fit: cover;
  width: 100%;
  height: 98%;
}
.black-circle {
  position: absolute;
  height: 150px;
  width: 150px;
  background-color: #2f2e2e;
  color: white;
  top: 24%;
  right: -20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.black-circle h5 {
  font-size: 23px;
  font-weight: 400;
}
.rotated {
  position: absolute;
  bottom: -13%;
  left: -12%;
  rotate: -90deg;
  font-size: 35px;
  transform-origin: 0 0;
  font-weight: 500;
}
/************************* MEDIA SCREEEN********************/
@media (max-width: 600px) {
  .main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 40px; */
    padding: 40px;
  }
  .left {
    width: 100%;
    height: fit-content;
    padding-bottom: 50px;
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .left h1 {
    font-size: 20vw;
    font-weight: 500;
    line-height: 18vw;
  }

  .bottom-left {
    width: 100%;
  }
  .colors {
    border: 1px solid black;
    border-radius: 50px;
    width: fit-content;
    align-items: center;
    display: flex;
    padding: 6px 12px;
    justify-content: center;
  }
  .colors h5 {
    font-size: 4vw;
    margin-right: 5px;
    font-weight: 500;
  }
  .color1 {
    height: 12px;
    width: 12px;
    margin: 3px;
    border-radius: 50%;
    background-color: rgb(248, 194, 124);
  }
  .color2 {
    height: 12px;
    width: 12px;
    margin: 3px;
    border-radius: 50%;
    background-color: brown;
  }
  .left h2 {
    margin-top: 20px;
    font-size: 8vw;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .left p {
    font-size: 4.5vw;
    width: 100%;
    font-weight: 600;
    line-height: 30px;
    line-height: 5.6vw;
    color: #414141;
  }
  .right {
    width: 100%;
    position: relative;
    display: flex;
    height: 50%;
    flex-direction: column-reverse;
    /* background-color: blue; */
  }
  .right-top {
    display: flex;
    height: 60px;
    padding-right: 0px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .right-top h4 {
    font-size: 27px;
    font-weight: 600;
  }
  .right-top h5 {
    font-size: 15px;
    font-weight: 600;
  }
  .right-top h5 i {
    color: gold;
  }
  .right img {
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
    height: 98%;
  }
  .black-circle {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #2f2e2e;
    color: white;
    top: -24%;
    right: -15%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .black-circle h5 {
    font-size: 14px;
    font-weight: 400;
  }
  .rotated {
    position: absolute;
    top: -30%;
    left: 0%;
    rotate: 0deg;
    font-size: 28px;
    transform-origin: 0 0;
    font-weight: 600;
  }
}
